.divContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: grey;
    padding: 25px;
    margin: auto;
    align-items: flex-start;
}

.squareDivs {
    background-color: lightgray;
    flex: auto;
    width: auto;
    height: 50px;
    max-width: 50px;
    margin: 1px;
}